/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Flexbox container for the left and right backgrounds */
/* Flexbox container for the left and right backgrounds */
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-side,
.right-side {
  width: 50%;
  background-position: center;
}

/* Zoom out the background image on the left side */
.left-side {
  background-image: url("https://resources.premierleague.com/photos/2024/08/18/28d0974e-3778-4c22-8c29-f253f9c92e51/2024-08-18T155323Z_372692886_UP1EK8I184Y5S_RTRMADP_3_SOCCER-ENGLAND-CHE-MCI-REPORT.JPG?width=1200&height=");
  background-size: 177%; /* Increase the size to zoom out the image */
}

/* Zoom out the background image on the right side */
.right-side {
  background-image: url("https://resources.premierleague.com/photos/premierleague/photo/2024/08/17/f46b8810-487d-4917-b8f6-a5af59eb9568/2167141136.jpg?width=1200&height=");
  background-size: 177%; /* Decrease the size to zoom out the image */
}

/* Center the content in the middle of the page */
.content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: gray;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    .6
  ); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
}

/* Styling for the form */
form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input field styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect on buttons */
button:hover {
  background-color: #45a049;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .left-side,
  .right-side {
    width: 100%;
    height: 50vh;
  }

  .content {
    width: 90%;
  }
}
