
/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Flexbox container for left and right backgrounds */
.app-container {
  display: flex;
  min-height: 100vh; /* Use min-height to ensure it takes at least the full viewport height */
  overflow: auto; /* Enable scrolling when content overflows */
}


.form-background {
  color: rgba(0 0, 0, 0.6);
}

/* Center the content in the middle of the page */
.display-form-content {
  position:absolute;
  top: 50%;
  left: 50%;
  margin: 70px auto; /* Add top margin of 70px to account for the navbar */
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; /* Changed to make it flexible on larger screens */
  max-width: 500px; /* Maximum width for larger screens */
  align-items: center;
  overflow-y: auto; /* Enable scrolling within the form if content is too large */
  margin-top: 120px;
}

.draggable-item img {
  margin-right: 10px;
  align-items: left;
  justify-content: center;
  width: 30px;
  height: 30px;

}

.draggable-item span {
  flex-grow: 1;
}

.actual-position {
  font-weight: bold;
  color: #ff5733;
  text-align: right;
}

/* Container for the two columns */
.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Styling for each column */
.team-column {
  width: 47%; /* Reduced width to make the columns smaller */
}

.draggable-item {
  padding: 10px; /* Reduced padding for a smaller item size */
  margin-bottom: 8px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #4caf50; /* Added border for each item */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: grab;
}


.predicted-position{
  text-align: left;
  flex-grow: 0 !important;
}

.team-name{
  flex-grow: 1;
  text-align: left;
}


/* Styling for the form */
form {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 900px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.display-form {
  position: relative;
  left: 15%;
}

/* Input field styles */
input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* Button styling */
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect on buttons */
button:hover {
  background-color: #45a049;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {

  .content {
    width: 90%;
  }

  .table-container {
    flex-direction: column;
  }

  .team-column {
    width: 100%;
  }
}
