/* Adjust the size of the team logos */
.matchweek-container img {
  width: 40px; /* Adjust the width of the logos */
  height: auto; /* Keep the aspect ratio */
  vertical-align: middle; /* Align vertically with the text */
}

/* Container for side-by-side tables */
.tables-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Matchweek table */
.matchweek-container {
  width: 60%; /* Adjust width as necessary */
  align-items: center;
  justify-content: center;
}

.prediction-form-container {
  width: 30%; /* Adjust width as necessary */
  align-items: center;
  justify-content: center;
}

.prediction-form-container img {
  width: 30px; /* Adjust the width of the logos */
  height: auto; /* Keep the aspect ratio */
  vertical-align: middle; /* Align vertically with the text */
}

.matchday-h1 {
  text-align: center;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: white;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
  color: #37003c;
}

.matchday-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #37003c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.edit-button {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.edit-button:hover {
  background-color: rgb(20, 20, 165);
  color: white;
}

.matchday-button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container button {
  margin: 0 10px;
}
