/* Adjust the size of the team logos */
.matchweek-container img {
  width: 40px; /* Adjust the width of the logos */
  height: auto; /* Keep the aspect ratio */
  vertical-align: middle; /* Align vertically with the text */
}

/* Container for side-by-side tables */
.tables-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 10px; /* Adds spacing between the matchweek and prediction form */
}

/* Matchweek table */
.matchweek-container {
  width: 60%; /* Adjust width as necessary */
}

.prediction-form-container {
  width: 35%; /* Adjust width as necessary */
}

.matchday-h1{
    text-align: center;
    color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
  background-color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid white;
  color: #37003c;
}

.matchday-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: #37003c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-container button {
  margin: 0 10px;
}
