.matchday-selector-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%; /* Changed to make it flexible on larger screens */
  max-width: 900px; /* Maximum width for larger screens */
  align-items: center;
  overflow-y: auto; /* Enable scrolling within the form if content is too large */
  margin-top: 50px; /* Add margin to ensure it doesn't overlap with the navbar */
}

.matchday-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.matchday-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.matchday-box:hover {
  background-color: #d1e7dd;
}

.go-home-button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive styling */
@media (max-width: 768px) {
  .matchday-selector-container {
    top: 10%; /* Adjust top position for mobile */
    transform: translate(-50%, 0); /* Adjust transform for mobile */
    margin-top: 70px; /* Ensure there's enough space from the top */
  }

  .matchday-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Adjust grid for mobile */
  }

  .matchday-box {
    padding: 15px; /* Adjust padding for mobile */
    font-size: 14px; /* Adjust font size for mobile */
  }
}