/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Flexbox container for left and right backgrounds */
.app-container {
  display: flex;
  min-height: 100vh; /* Use min-height to ensure it takes at least the full viewport height */
  overflow: auto; /* Enable scrolling when content overflows */
  width: 100vw; /* Ensure it takes up the full viewport width */
  position: relative; /* To control the position of the form within the background */
}

.form-background {
  color: rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 100%; /* Ensure it doesn't overflow */
}

/* Center the content in the middle of the page */
.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 90vw; /* Use vw to ensure form doesn't overflow horizontally */
  max-width: 700px; /* Maximum width for larger screens */
  align-items: center;
  box-sizing: border-box; /* Ensure padding is included within the width */
  overflow-y: auto; /* Enable scrolling within the form if content is too large */
}

/* Styling for the form */
form {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding in width to prevent overflow */
}

/* Input field styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect on buttons */
button:hover {
  background-color: #45a049;
}

/* Container for the two columns */
.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

/* Styling for each column */
.team-column {
  width: 47%; /* Reduced width to make the columns smaller */
}

.draggable-item {
  padding: 16px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #4caf50; /* Added border for each item */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: grab;
}

.draggable-item img {
  margin-right: 10px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .left-side,
  .right-side {
    width: 100%;
    height: 50vh;
    background-size: cover;
  }

  .content {
    width: 90%;
    margin-top: 59px;
  }

  .table-container {
    flex-direction: column;
  }

  .team-column {
    width: 100%;
  }
}
